body {
    font-family: Roboto, sans-serif;
}

input, label {
    display:block;
    font-family: Roboto, sans-serif;
}

input, textarea {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid black;
}

input {
    height: 30px;
}

textarea {
    resize: none;
}

.formHeader {
    font-family: Montserrat, sans-serif;
}

#formBody {
    margin: 20px;
}

#submit {
    background-color: #BBDEFB;
    height: 40px;
}

img {
    max-height: 300px;
    max-width: 300px;
 }

/*--Home Listing Tiles--*/
.listingTile{
    float: left;

    background-color: #90CAF9;
    width: 19%;
    height:450px;

    border-style:groove;
    border-color: #BBDEFB;
    border-radius: 10px;

    display:flex;
    flex-direction: column;

}

.listingImage{
    background-color: black;
    border-style: inset;
    border-color: darkgrey;
}

.listingText{
    background-color: whitesmoke;
   margin-top:auto;
}